{
	"useTabs": true,
	"trailingComma": "es5",
	"printWidth": 128,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
